# Point NPM to the default registry
registry=https://registry.npmjs.org/

# Set log level to info
loglevel=info

# If you want to always save newly installed packages to your package.json
save=true

# Optional: Disable npm audit to speed up npm install
# audit=false

# Optional: Configure a token if using private modules (uncomment if needed)
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}